.main {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.shop_Detail {
    width: 1400px;
    margin: 10px auto;
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #e4e4e4;
}

.shop_pic {
    width: 40%;
    height: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.shop_price {
    height: 50px;
    margin-top: 50px;
    font-size: 26px;
    color: red;
}

.shop_pic img {
    width: 65%;
    height: 95%;
    box-shadow: 0px 0px 5px 0px #e4e4e4;
    border-radius: 5px;
}

.shop_info {
    width: 50%;
    height: 750px;
}

.shop_desc {
    text-align: left;
}

.center {
    text-align: center;
    font-family: 'Merienda', cursive;
}

.shop_desc p {
    color: black;
    line-height: 80px;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Merienda', cursive;
    text-shadow: 0 0 1px #b8b8af;
}

.shop_desc p span {
    font-family: 'Merienda', cursive;
}

.shop_desc p:nth-child(1) {
    font-size: 34px;
    animation-duration: 0.3s;
}

.shop_desc p:nth-child(2) {
    animation-duration: 0.6s;
}

.shop_desc p:nth-child(3) {
    animation-duration: 0.9s;
}

.shop_desc p:nth-child(4) {
    animation-duration: 1.2s;
}

.shop_desc p:nth-child(5) {
    animation-duration: 1.5s;
}

.shop_desc p:nth-child(6) {
    animation-duration: 1.8s;
}

.shop_desc p:nth-child(7) {
    animation-duration: 2.1s;
}

.shop_desc p:nth-child(8) {
    animation-duration: 2.4s;
}

.shop_count {
    margin-bottom: 15px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop_count button {
    width: 35px;
    height: 35px;
    font-size: 35px;
    line-height: 15px;
    border-radius: 5px;
    padding: 0 !important;
    border: none;
    cursor: pointer;
    background-color: #e4e4e4;
    margin: 0 10px;
}

.shop_count input {
    width: 135px;
    height: 35px;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    background-color: #e4e4e4;
}

.shop_submit button {
    width: 150px;
    height: 35px;
    border: none;
    font-size: 22px;
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all .5s;
}

.shop_submit button:hover {
    background-color: #E2B394;
}