.main_banner {
    width: 100%;
    height: 520px;
    position: relative;
}

.main_banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_banner_words {
    position: absolute;
    top: 260px;
    left: 150px;
    width: 40%;
}

.main_banner_words p {
    font-size: 32px;
    line-height: 30px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    color: white;
    background: url('../shopImg/Q6_03.png') no-repeat left bottom;
    text-shadow: 0 0 1px #b8b8af;
    font-family: 'Merienda', cursive;
}

.main_banner_words span {
    font-size: 15px;
    display: block;
    color: #c2c2c1;
    text-shadow: 0 0 1px #b8b8af;
    font-family: 'Merienda', cursive;
}

.shop_banner {
    width: 1100px;
    margin: 0 auto;
}

.shop_banner img {
    transition: all  0.2s;
    width: 520px;
    height: 730px;
    transform: scale(0.95);
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #e4e4e4;
    border-radius: 5px;

}
.shop_banner_aquert{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.shop_banner_aquert img{
    width: 280px;
    height: 320px;
}
.shop_banner img:hover {
    transform: scale(1);
}

.header-container-bottom ul li:nth-child(4) {
    background-color: black;
}

.header-container-bottom ul li:nth-child(4) a {
    color: white;
}